<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.javaee.ch21.dao.RoleDao">

    <select id="getRole" resultType="cn.javaee.ch21.pojo.Role">
        SELECT id, role_name AS roleName, note FROM t_role WHERE id = #{id}
    </select>

    <delete id="deleteRole">
        DELETE FROM t_role WHERE id = #{id}
    </delete>

    <insert id="insertRole" parameterType="cn.javaee.ch21.pojo.Role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_role (role_name, note) VALUES (#{roleName}, #{note})
    </insert>

    <update id="updateRole" parameterType="cn.javaee.ch21.pojo.Role">
        UPDATE t_role SET role_name = #{roleName}, note = #{note} WHERE id = #{id}
    </update>

    <select id="findRoles" resultType="cn.javaee.ch21.pojo.Role">
        SELECT id, role_name AS roleName, note FROM t_role
        <where>
            <if test="roleName != null">
                role_Name LIKE CONCAT('%', #{roleName}, '%')
            </if>
            <if test="note != null">
                note LIKE CONCAT('%', #{note}, '%')
            </if>
        </where>
    </select>
</mapper>